@media (max-width: 1200px) {
    body {
        justify-content: flex-start;
    }

    .imagefull {
        background-image: url(../images/bg-mobile.svg);
        width: 375px;
        height: 100%;
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 473bd4e (update quest 01)
    }

    .global {
        padding: 35px;
    }

    .logo {
        width: 130px;
        margin-top: 0px;
        margin-bottom: 60px;
        margin-left: -2px;
    }

<<<<<<< HEAD
=======
        padding: 0 36px;
    }
    .logo {
        width: 130px;
        margin: 0 0 60px 0;
    }
>>>>>>> 5d6aff37ebdc52e4193a091e35d1446404101509
=======
>>>>>>> 473bd4e (update quest 01)
=======
        padding: 0 36px;
    }
    .logo {
        width: 130px;
        margin: 0 0 60px 0;
    }
>>>>>>> 5d6aff3 (ajustes do css e html)
    .presentation {
        flex-direction: column;
        align-items: center;
        gap: 60px;
        margin: 0 0 65px 0;
    }
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 473bd4e (update quest 01)

    .image {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 300px;
    }

<<<<<<< HEAD
=======
>>>>>>> 5d6aff37ebdc52e4193a091e35d1446404101509
=======
>>>>>>> 473bd4e (update quest 01)
=======
>>>>>>> 5d6aff3 (ajustes do css e html)
    .informaction {
        text-align: center;
        justify-content: center;
        align-items: center;
        margin: 0;
    }
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD

=======
>>>>>>> 5d6aff37ebdc52e4193a091e35d1446404101509
=======

>>>>>>> 473bd4e (update quest 01)
=======
>>>>>>> 5d6aff3 (ajustes do css e html)
    .informaction h1 {
        font-size: 24px;
        font-weight: 600;
    }
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 473bd4e (update quest 01)

    .informaction p {
        font-size: 16px;
    }

<<<<<<< HEAD
=======
    .informaction p {
        font-size: 15px;
        letter-spacing: .5px;
        line-height: 24px;
        margin-top: 14px;
    }
>>>>>>> 5d6aff37ebdc52e4193a091e35d1446404101509
=======
>>>>>>> 473bd4e (update quest 01)
=======
    .informaction p {
        font-size: 15px;
        letter-spacing: .5px;
        line-height: 24px;
        margin-top: 14px;
    }
>>>>>>> 5d6aff3 (ajustes do css e html)
    .informaction a {
        font-size: 12px;
        height: 40px;
    }
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 473bd4e (update quest 01)

    .icons {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .icons ul {
<<<<<<< HEAD
=======
    .icons {
        justify-content: center;
>>>>>>> 5d6aff37ebdc52e4193a091e35d1446404101509
=======
>>>>>>> 473bd4e (update quest 01)
=======
    .icons {
        justify-content: center;
>>>>>>> 5d6aff3 (ajustes do css e html)
        gap: 8px;
        margin-bottom: 30px;
        margin: 0 0 30px 0;
    }
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 473bd4e (update quest 01)

    .icons a {
        width: 29px;
        height: 29px;
        font-size: 15px;
    }

    .icons a:hover {
        color: hsl(300, 69%, 71%);
    }

    .attribution {
        margin-top: 30px;
=======
    .icons a {
        width: 29px;
        height: 29px;
        font-size: 13px;
>>>>>>> 5d6aff37ebdc52e4193a091e35d1446404101509
=======
    .icons a {
        width: 29px;
        height: 29px;
        font-size: 13px;
>>>>>>> 5d6aff3 (ajustes do css e html)
    }
}