@media (max-width: 768px) {
    .imagefull {
        background: url(../images/bg-mobile.svg) no-repeat;
        width: 375px;
        height: 100%;
        padding: 0 36px;
    }
    .logo {
        width: 130px;
        margin: 0 0 60px 0;
    }
    .presentation {
        flex-direction: column;
        align-items: center;
        gap: 60px;
        margin: 0 0 65px 0;
    }
    .informaction {
        text-align: center;
        justify-content: center;
        align-items: center;
        margin: 0;
    }
    .informaction h1 {
        font-size: 24px;
        font-weight: 600;
    }
    .informaction p {
        font-size: 15px;
        letter-spacing: .5px;
        line-height: 24px;
        margin-top: 14px;
    }
    .informaction a {
        font-size: 12px;
        height: 40px;
    }
    .icons {
        justify-content: center;
        gap: 8px;
        margin-bottom: 30px;
        margin: 0 0 30px 0;
    }
    .icons a {
        width: 29px;
        height: 29px;
        font-size: 13px;
    }
}