body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: hsl(257, 40%, 49%);
}
.imagefull {
    width: 1440px;
    height: 800px;
    display: flex;
    flex-direction: column;
    background: url(../images/bg-desktop.svg)no-repeat;
}
.logo {
    display: flex;
    width: 210px;
}
.presentation {
    display: flex;
    gap: 54px;
    font-family: 'Poppins', sans-serif;
    margin: 85px 0 23px 0;
}
.informaction {
    display: flex;
    flex-direction: column;
    margin-top: 45px;
}
.informaction h1 {
    max-width: 450px;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: -.2px;
    color: #FFF;
}
.informaction p {
    max-width: 510px;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    color: #FFF;
    line-height: 27px;
    margin-top: 20px;
}
.informaction a {
    width: 200px;
    height: 57px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 18px;
    border-radius: 30px;
    cursor: url(../images/pointer.svg), auto;
    background-color: #FFF;
    color: hsl(257, 40%, 49%);
    box-shadow: 4px 4px 4px 3px rgba(0, 0, 0, 0.2);
    transition: .3s ease-in-out;
    margin-top: 24px;
}
.informaction a:hover {
    color: #FFF;
    background-color: hsl(300, 69%, 71%);
}
.icons {
    display: flex;
    justify-content: end;
    gap: 15px;
    margin-right: 150px;
}
.icons a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 41px;
    height: 41px;
    border: 1px solid;
    border-radius: 50%;
    font-size: 18px;
    cursor: url(../images/pointer.svg), auto;
    color: #FFF;
    transition: .3s ease-in-out;
}
.icons a:hover {
    color: hsl(300, 69%, 71%);
}
.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}