body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: hsl(257, 40%, 49%);
}

.imagefull {
    width: 1440px;
    height: 800px;
    display: flex;
    background: url(../images/bg-desktop.svg) no-repeat;
}

.global {
    display: flex;
    flex-direction: column;
    color: #FFF;
    padding-top: 55px;
    padding-left: 75px;
}

.logo {
    width: 215px;
    margin-left: -4px;
}

.presentation {
    display: flex;
    gap: 53px;
    margin-top: 85px;
}

.informaction {
    display: flex;
    flex-direction: column;
    gap: 21px;
    margin-top: 44px;
}

.informaction h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: -.34px;
    line-height: 60px;
    padding-right: 70px;
}

.informaction p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: -.34;
    line-height: 27px;
    padding-right: 80px;
}

.informaction a {
    width: 200px;
    height: 58px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 18px;
    cursor: url(../images/pointer.svg), auto;
    background-color: #FFF;
    color: hsl(257, 40%, 49%);
    border-radius: 30px;
    box-shadow: 4px 4px 4px 3px rgba(0, 0, 0, 0.2);
    transition: .3s ease-in-out;
}

.informaction a:hover {
    color: #FFF;
    background-color: hsl(300, 69%, 71%);
}

.icons {
    align-self: flex-end;
    padding-top: 20px;
    padding-right: 78px;
}

.icons ul {
    display: flex;
    gap: 15px;
}

.icons ul li {
    width: 41px;
    height: 41px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    cursor: url(../images/pointer.svg), auto;
    border: 1px solid;
    border-radius: 50%;
    transition: .3s ease-in-out;
}

.icons ul li a {
    color: #FFF;
    cursor: url(../images/pointer.svg), auto;
    transition: .3s ease-in-out;
}

.icons ul li:hover, .icons ul li:hover a {
    color: hsl(300, 69%, 71%);
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}