body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(257, 40%, 49%);
}

.imagefull {
    display: flex;
    background: url(../images/bg-desktop.svg) center no-repeat;
    width: 1440px;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.global {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #FFF;
    padding: 0 78px;
}

.logo {
    display: flex;
    width: 210px;
}

.presentation {
    display: flex;
    gap: 54px;
    margin: 85px 0 20px 0;
}

.image {
    display: flex;
}

.informaction {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 25px;
    margin-top: 45px;
}

.informaction h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 600;
}

.informaction p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.informaction a {
    display: flex;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 60px;
    border-radius: 30px;
    background-color: #FFF;
    color: hsl(257, 40%, 49%);
    box-shadow: 4px 4px 4px 3px rgba(0, 0, 0, 0.2);
}

.informaction a:hover {
    color: #FFF;
    background-color: hsl(300, 69%, 71%);
}

.icons {
    align-self: flex-end;
}

.icons ul {
    display: flex;
    gap: 15px;
}

.icons a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 41px;
    height: 41px;
    border: 1px solid;
    border-radius: 30px;
    font-size: 18px;
    color: #ffffff;
}

.icons a:hover {
    color: hsl(300, 69%, 71%);
}